@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Trirong", serif;
  font-style: normal;
}
.carousel-item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel-image-1{
    background-image: url("https://images.pexels.com/photos/60644/nile-crocodile-crocodylus-niloticus-zoo-60644.jpeg");
    background-size: cover ;
}
.carousel-image-2{
    background-image: url("https://images.pexels.com/photos/982021/pexels-photo-982021.jpeg");
    background-size: cover;
}
.carousel-image-3{
    background-image: url("https://images.pexels.com/photos/631292/pexels-photo-631292.jpeg");
    background-size: cover;
}
.carousel-image-4{
    background-image: url("https://images.pexels.com/photos/1007685/pexels-photo-1007685.jpeg");
    background-size: cover;
}
.carousel-image-5{
    background-image: url("https://images.pexels.com/photos/7332662/pexels-photo-7332662.jpeg");
    background-size: cover;
}
.carousel-image-6{
    background-image: url("https://images.pexels.com/photos/10939062/pexels-photo-10939062.jpeg");
    background-size: cover;
}
.carousel-image-7{
    background-image: url("https://images.pexels.com/photos/27026851/pexels-photo-27026851.jpeg");
    background-size: cover;
}
.carousel-image-8{
    background-image: url("https://images.pexels.com/photos/31715650/pexels-photo-31715650.jpeg");
    background-size: cover;
}
.carousel-image-9{
    background-image: url("https://images.pexels.com/photos/730424/pexels-photo-730424.jpeg");
    background-size: cover;
}
.carousel-image-10{
    background-image: url("https://images.pexels.com/photos/8299700/pexels-photo-8299700.jpeg");
    background-size: cover;
}
.carousel-image-11{
    background-image: url("https://images.pexels.com/photos/13688382/pexels-photo-13688382.jpeg");
    background-size: cover;
}

.carousel-image-12{
    background-image: url("https://images.pexels.com/photos/17746130/pexels-photo-17746130.jpeg");
    background-size: cover;
}
.carousel-image-13{
    background-image: url("https://images.pexels.com/photos/10875846/pexels-photo-10875846.jpeg");
    background-size: cover;
}
.carousel-image-14{
    background-image: url("https://images.pexels.com/photos/1046229/pexels-photo-1046229.jpeg");
    background-size: cover;
}
.carousel-image-15{
    background-image: url("https://images.pexels.com/photos/30665933/pexels-photo-30665933.jpeg");
    background-size: cover;
}
.carousel-image-16{
    background-image: url("https://images.pexels.com/photos/18198496/pexels-photo-18198496.jpeg");
    background-size: cover;
}
.carousel-image-17{
    background-image: url("https://images.pexels.com/photos/6118746/pexels-photo-6118746.jpeg");
    background-size: cover;
}
.carousel-image-18{
    background-image: url("https://images.pexels.com/photos/19495012/pexels-photo-19495012.jpeg");
    background-size: cover;
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}
p{
    text-align: center;
}
table tbody tr:hover {
    background-color: #fce4ec;
    transition: 0.3s;
}
.card-img-top {
    height: 300px;
    object-fit: cover;  
}
.modal-body{
    text-align: left;
}
